<!DOCTYPE html>
<html>
<head>

    <link rel="stylesheet" type="text/css" href="css/main.css">


    <title>Optum</title>
    <meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">
    <script>
        var Viewer;
    </script>
    <script type="text/javascript" src="js/smoothie.js"></script>
    <script type="text/javascript" src="js/jquery-1.4.2.js"></script>
    <script type="text/javascript" src="js/jquery.mousewheel.js"></script>
    <script type="text/javascript" src="js/code.js"></script>
    <script type="text/javascript" src="js/flag.js"></script>
    <script type="text/javascript" src="js/webgl-utils.js"></script>
    <script src="//js.leapmotion.com/0.2.0-beta1/leap.min.js"></script>
    <script type="text/javascript" src="js/leap.js"></script>
    <script type="text/javascript" src="js/osg.js"></script>
    <script type="text/javascript" src="js/osgGA.js"></script>
    <script type="text/javascript" src="js/osgUtil.js"></script>
    <script type="text/javascript" src="js/osgAnimation.js"></script>
    <script type="text/javascript" src="js/osgViewer.js"></script>
    <script type="text/javascript" src="js/demo2.js"></script>
    <script type="text/javascript" src="js/manipulator.js"></script>
    <script type="text/javascript" src="js/twitter.js"></script>

    <script type="text/javascript" src="js/world.js"></script>
    <script type="text/javascript" src="js/country.js"></script>
    <script type="text/javascript" src="js/coast.js"></script>
    <script type="text/javascript" src="js/height.js"></script>
    <script type="text/javascript" src="js/text.js"></script>
    <script type="text/javascript" src="js/wave.js"></script>
    <script type="text/javascript" src="js/coordinate.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="js/ui.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/instructions.js"></script>
    <style>
        #gobackbutton {top: -14px!important;}
    </style>

    <script type="text/javascript">
        function getWindowSize() {
            var myWidth = 0, myHeight = 0;

            if( typeof( window.innerWidth ) == 'number' ) {
                myWidth = window.innerWidth;
                myHeight = window.innerHeight;
            } else if( document.documentElement && ( document.documentElement.clientWidth || document.documentElement.clientHeight ) ) {
                myWidth = document.documentElement.clientWidth;
                myHeight = document.documentElement.clientHeight;
            } else if( document.body && ( document.body.clientWidth || document.body.clientHeight ) ) {
                myWidth = document.body.clientWidth;
                myHeight = document.body.clientHeight;
            }
            return { 'w': myWidth, 'h': myHeight };
        }
        var AutoStart = (window.top == window);
        var DisableWave = false;
    </script>
    <script type="text/javascript" src="js/state.js"></script>
</head>

<body>

<header id="masthead">
	<span id="pitch" class="cartoBook">
		<img src="img/optumlogo.png" />
	</span>
</header>

<ul id="countries" class="cartoBook">
    <p class="countries--header">Countries</p>
    <li>
        <div class="flag"></div>
        <span class="countryName"></span>
        <span class="tweetCount cartoBold"></span>
    </li>
    <li>
        <div class="flag"></div>
        <span class="countryName"></span>
        <span class="tweetCount"></span>
    </li>
    <li>
        <div class="flag"></div>
        <span class="countryName"></span>
        <span class="tweetCount"></span>
    </li>
    <li>
        <div class="flag"></div>
        <span class="countryName"></span>
        <span class="tweetCount"></span>
    </li>
    <li>
        <div class="flag"></div>
        <span class="countryName"></span>
        <span class="tweetCount"></span>
    </li>
    <li>
        <div class="flag"></div>
        <span class="countryName"></span>
        <span class="tweetCount"></span>
    </li>
    <li>
        <div class="flag"></div>
        <span class="countryName"></span>
        <span class="tweetCount"></span>
    </li>
    <li>
        <div class="flag"></div>
        <span class="countryName"></span>
        <span class="tweetCount"></span>
    </li>
</ul>

<div id="campaign-menu">
    <form id="campaignSearch">
        <ul id="campaignList">
            <li>
                <input type="text" placeholder="Live Search" class="live-search" />
                <div class="orange-button small-button" id="live-search-button">&gt;</div>
            </li>
            <li>
                <div class="campaign">Heart Disease<img src="img/dismiss.png" alt="dismiss" class="close-x"><div class="campaign-bg"></div></div>
            </li>
            <li>
                <div class="campaign">Optum<img src="img/dismiss.png" alt="dismiss" class="close-x"><div class="campaign-bg"></div></div>
            </li>
            <li>
                <div class="campaign">#Healthcare<img src="img/dismiss.png" alt="dismiss" class="close-x"><div class="campaign-bg"></div></div>
            </li>
            <li>
                <div class="campaign">Asthma<img src="img/dismiss.png" alt="dismiss" class="close-x"><div class="campaign-bg"></div></div>
                
            </li>
            <li>
                <div class="campaign">#StopSmoking<img src="img/dismiss.png" alt="dismiss" class="close-x"><div class="campaign-bg"></div></div>
            </li>
        </ul>
        <div id="addCampaign" class="orange-button cartoBold">Create Campaign</div>
    </form>
</div>

<!-- Campaign form modal -->
<div id="demo-instructions" class="hidden">
    <div class="bubble">
        <span>New Campaign</span>
        <form>
            <ul>
                <li>
                    <hr />
                    <label>Campaign Name</label>
                    <input type="text" name="campaign" class="form-right" id="inputCampaignName">
                </li>
                <li>
                    <label>Campaign Criteria</label>
                    <input type="text" name="criteria" class="form-right" id="inputCampaignCriteria">
                    <hr />
                </li>
                <li>
                    <label>Start Campaign</label>
                    <input id="startdate" name="startdate" min="2014-01-01" max="2100-01-01" type="date" class="form-right">
                </li>
                <li>
                    <label>Finish Campaign</label>
                    <input id="enddate" name="enddate" min="2014-01-01" max="2100-01-01" type="date" class="form-right">
                    <hr />
                </li>
                <li><label>Data Source Input</label></li>
                <li><input type="checkbox" name="social" value="facebook">Facebook</li>
                <li><input type="checkbox" name="social" value="twitter">Twitter</li>
                <li><input type="checkbox" name="marketing" value="email">Email Campaign</li>
                <li><input type="checkbox" name="news" value="rss">RSS</li>
            </ul>
        </form>
        <div id="campaignForm" class="cartoBold orange-button">Launch New Campaign</div>
        <span id="location-instructions"></span>
        <span class="dismiss blue"><img src="img/dismiss.png" alt="dismiss">close menu</span>
    </div>
</div>

<div id="instructions">
    <div id="ranking-instructions" class="hidden">
        <div class="corner">
        </div>
        <div class="bubble">
            Click on a country to center it on your screen
            <span class="dismiss blue"><img src="img/dismiss.png" alt="dismiss">hide this message</span>
        </div>
    </div>
</div>


<div id="connection">
    <div class="bubble">
        Connecting to twitter stream
    </div>
</div>

<div class="footer-wrapper">
    <ul id="stats">
        <li>
            <span id="generalTweetCount" class="cartoBold">0</span>
            <br />TWEETS SENT
        </li>
        <li>
            <span id="generalCountriesCount" class="cartoBold">0</span>
            <br />ACTIVE COUNTRIES
        </li>
        <li>
            <span id="generalTimer" class="cartoBold">0</span>
            <br />ELAPSED TIME
        </li>
        <li>
            <span id="tweetsPersecond" class="cartoBold">0</span>
            <br />TWEETS/SEC
        </li>
    </ul>

    <section id="live-data" class="bubble">
        <canvas id="smoothie-chart" width="300" height="62"></canvas>
    </section>

    <section id="credits" class="bubble">
        <header><span id="arrow">Team</span></header>
        <hr />
        <ul id="authors">
            <li><span>Trevor Hamel</span></li>
            <li><span>John Hollow</span></li>
            <li><span>Tim Mendenhall</span></li>
            <li><span>David Przybylo</span></li>
            <li><span>Jon Rigert</span></li>
        </ul>
    </section>
</div>

<div id="ViewContainer">
    <canvas id="3DView"></canvas>
</div>
<div id="TweetsProcessedStats"></div>
<div id="TweetsPerSeconds"></div>
<div id="TweetContent" class="hidden">
</div>

<canvas id="TweetPicture" width="64" height="64"> </canvas>
<canvas id="TextRendering" width="512" height="32"> </canvas>
<canvas id="HeightMap" width="128" height="64"> </canvas>
<canvas id="HeightMap2" width="128" height="64"> </canvas>

<script>
    var chart = new SmoothieChart({millisPerPixel:89}),
            canvas = document.getElementById('smoothie-chart'),
            series = new TimeSeries();

    setInterval(function() {
        series.append(new Date().getTime(), tweetCount);
        tweetCount = 0;
    }, 1000);

    chart.addTimeSeries(series, {lineWidth:2,strokeStyle:'#E1620B'});
    chart.streamTo(canvas, 1763);
</script>

</body>
</html>
